%h1
  Forum Index
  
%table.wide
  %tr
    %th
      Topic Name
    %th
      Replies
  - @topics.each do |topic|
    %tr
      %td
        %a{ :href => resource(@forum, topic) }= topic.title
        %br
        = topic.description
      %td
        = topic.posts.count - 1

%hr
= link_to 'New Topic', resource(@forum, :topics, :new)