/**
 * Global Level Declarations
 *---------------------------*/
body {
  margin: 0;
  padding: 0;
  background: #FDFDFD;
}
body, td {
  font: normal normal normal 14px/normal Arial, Verdana, sans-serif;
  color: #666;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 27px;
  color: #0099CB
}
h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
h5 {
  font-size: 14px;
  color: #666;
  margin: 0px 0px 5px 0px;
}
form {
  display: inline;
}
a {
  text-decoration: none;
  color: #669933;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #FF3300;
}
img {
  border: 0px;
}
input, select, textarea {
  font: normal normal normal 15px/normal Arial, Verdana, sans-serif;
}
.clear, .clear-both {
  clear: both;
  height: 1px;
  overflow: hidden;
}
.clickable {
  cursor: pointer;
}
.no-border {
  border: 0 !important;
}
table {
  width: 100%;
  border-collapse:collapse;
}
table th {
  text-align: left;
}
/**
 * Layout Level Declarations
 *---------------------------*/
body {
  background-color: #FAF6EA;
}
#header {
	background-color: #D6CEAF;
	color: #D6CEAF;
	padding: 20px;
}
#breadcrumb {
  background-color: #8C7C4A;
  height: 30px;
  color: #E8EED8;
  line-height: 30px;
  padding: 5px;
}
#main {
	width: 80%;
	margin: 10px auto;
	border: 1px solid #E5E5E5;
	padding: 4em 1.6em;
	background-color: #FFFFFF;
}
#navigation {
  float: right;
}
#navigation li {
  display: inline;
  padding: 8px;
}
#navigation a,
#navigation a:visited {
  color: #E1E1E1;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
#navigation a:hover {
 text-decoration: none;
 color: #669933; 
}
.action-items {
  text-align: right;
  margin: 10px 20px;
}

/**
 * Forums Level Declarations
 *---------------------------*/
 .forum th {
   text-transform: uppercase;
   font-size: 0.85em;
   border:0.1em solid #DFDFDF;
   background-color: #FCFCFC;
   padding: 0.9em;
 }
 .forum th.left {
   border-left: none;
 }
 .forum th.right {
   border-right: none;
 }
 .forum td {
   padding: 1.2em 1.1em 1.3em;
   border-bottom: 0.1em dashed #CDCDCD;
 }
 .forum-title {
   font-size: 1.4em;
 }
 .forum p {
   margin: 0.5em 0 0;
   color: #A1A0A0;
 }
 .forum .post-count {
   background: url("/images/icons/comments.png") no-repeat scroll 0 1.2em;
   padding: 0 0 0 4em;
 }
 
/**
 * Topics Level Declarations
 *---------------------------*/
 .topic-title {
   font-size: 1.2em;
 }
 p.topic-description {
   padding-left: 8px;
   font-size: 0.95em;
   font-style: italic;
   margin: 0;
 }
 
/**
 * Posts Level Declarations
 *---------------------------*/

.odd {
  background-color: #F1F1F1;
}

.even {
  background-color: #FAFAFA;
}
.post-header {
  margin-right: 280px;
  padding: 5px;
}
.post-header h4 {
  font-size: 1.2em;
}

.post-header span {
  font-size: 0.8em;
  margin-left: 10px;
}

.post-body {
  padding: 10px;
  margin-right: 280px;
}

.post-body .content {
}

.post-profile {
  font-size: 11px;
  float: right;
  width: 250px;
  padding: 10px;
  border-left: 1px solid #ccc;
}

/** 
 * code-ray Styles 
 * -------------- **/
.code-ray {
 font-size: 11px;
 background-color: #f8f8f8;
 border: 1px solid silver;
 font-family: 'Monaco', 'Courier New', 'Terminal', monospace;
 color: #100;
}
.code-ray pre { margin: 0px }

div.code-ray { }

span.code-ray { white-space: pre; border: 0px; padding: 2px }

table.code-ray { border-collapse: collapse; width: 100%; padding: 2px }
table.code-ray td { padding: 2px 4px; vertical-align: top }

.code-ray .line_numbers, .code-ray .no {
 background-color: #def;
 color: gray;
 text-align: right;
}
.code-ray .line_numbers tt { font-weight: bold }
.code-ray .no { padding: 0px 4px }
.code-ray .code { width: 100% }

ol.code-ray { font-size: 10pt }
ol.code-ray li { white-space: pre }

.code-ray .code pre { overflow: auto }

.code-ray .debug { color:white ! important; background:blue ! important; }

.code-ray .af { color:#00C }
.code-ray .an { color:#007 }
.code-ray .at { color:#f08 }
.code-ray .av { color:#700 }
.code-ray .aw { color:#C00 }
.code-ray .bi { color:#509; font-weight:bold }
.code-ray .c  { color:#666; }

.code-ray .ch { color:#04D }
.code-ray .ch .k { color:#04D }
.code-ray .ch .dl { color:#039 }

.code-ray .cl { color:#B06; font-weight:bold }
.code-ray .co { color:#036; font-weight:bold }
.code-ray .cr { color:#0A0 }
.code-ray .cv { color:#369 }
.code-ray .df { color:#099; font-weight:bold }
.code-ray .di { color:#088; font-weight:bold }
.code-ray .dl { color:black }
.code-ray .do { color:#970 }
.code-ray .ds { color:#D42; font-weight:bold }
.code-ray .e  { color:#666; font-weight:bold }
.code-ray .en { color:#800; font-weight:bold }
.code-ray .er { color:#F00; background-color:#FAA }
.code-ray .ex { color:#F00; font-weight:bold }
.code-ray .fl { color:#60E; font-weight:bold }
.code-ray .fu { color:#06B; font-weight:bold }
.code-ray .gv { color:#d70; font-weight:bold }
.code-ray .hx { color:#058; font-weight:bold }
.code-ray .i  { color:#00D; font-weight:bold }
.code-ray .ic { color:#B44; font-weight:bold }

.code-ray .il { background: #eee }
.code-ray .il .il { background: #ddd }
.code-ray .il .il .il { background: #ccc }
.code-ray .il .idl { font-weight: bold; color: #888 }

.code-ray .im { color:#f00; }
.code-ray .in { color:#B2B; font-weight:bold }
.code-ray .iv { color:#33B }
.code-ray .la { color:#970; font-weight:bold }
.code-ray .lv { color:#963 }
.code-ray .oc { color:#40E; font-weight:bold }
.code-ray .of { color:#000; font-weight:bold }
.code-ray .op { }
.code-ray .pc { color:#038; font-weight:bold }
.code-ray .pd { color:#369; font-weight:bold }
.code-ray .pp { color:#579; }
.code-ray .ps { color:#00C; font-weight: bold; }
.code-ray .pt { color:#339; font-weight:bold }
.code-ray .r, .kw  { color:#080; font-weight:bold }

.code-ray .ke { color: #808; }
.code-ray .ke .dl { color: #606; }
.code-ray .ke .ch { color: #80f; }
.code-ray .vl { color: #088; }

.code-ray .rx { background-color:#fff0ff }
.code-ray .rx .k { color:#808 }
.code-ray .rx .dl { color:#404 }
.code-ray .rx .mod { color:#C2C }
.code-ray .rx .fu  { color:#404; font-weight: bold }

.code-ray .s { background-color:#fff0f0; color: #D20; }
.code-ray .s .s { background-color:#ffe0e0 }
.code-ray .s .s  .s { background-color:#ffd0d0 }
.code-ray .s .k { }
.code-ray .s .ch { color: #b0b; }
.code-ray .s .dl { color: #710; }

.code-ray .sh { background-color:#f0fff0; color:#2B2 }
.code-ray .sh .k { }
.code-ray .sh .dl { color:#161 }

.code-ray .sy { color:#A60 }
.code-ray .sy .k { color:#A60 }
.code-ray .sy .dl { color:#630 }

.code-ray .ta { color:#070 }
.code-ray .tf { color:#070; font-weight:bold }
.code-ray .ts { color:#D70; font-weight:bold }
.code-ray .ty { color:#339; font-weight:bold }
.code-ray .v  { color:#036 }
.code-ray .xt { color:#444 }

.code-ray .ins { background: #afa; }
.code-ray .del { background: #faa; }
.code-ray .chg { color: #aaf; background: #007; }
.code-ray .head { color: #f8f; background: #505 }

.code-ray .ins .ins { color: #080; font-weight:bold }
.code-ray .del .del { color: #800; font-weight:bold }
.code-ray .chg .chg { color: #66f; }
.code-ray .head .head { color: #f4f; }