/**
 * Global Level Declarations
 *---------------------------*/
body {
  margin: 0;
  padding: 0;
  background: #FDFDFD;
}
body, td {
  font: normal normal normal 14px/normal Arial, Verdana, sans-serif;
  color: #666;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 27px;
  color: #0099CB
}
h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
h5 {
  font-size: 14px;
  color: #666;
  margin: 0px 0px 5px 0px;
}
form {
  display: inline;
}
a {
  text-decoration: none;
  color: #669933;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #FF3300;
}
img {
  border: 0px;
}
input, select, textarea {
  font: normal normal normal 15px/normal Arial, Verdana, sans-serif;
}
.clear, .clear-both {
  clear: both;
  height: 1px;
  overflow: hidden;
}
.clickable {
  cursor: pointer;
}
.no-border {
  border: 0 !important;
}
table {
  width: 100%;
  border-collapse:collapse;
}
table th {
  text-align: left;
}
/**
 * Layout Level Declarations
 *---------------------------*/
body {
  background-color: #FAF6EA;
}
#header {
	background-color: #D6CEAF;
	color: #D6CEAF;
	padding: 20px;
}
#breadcrumb {
  background-color: #8C7C4A;
  height: 30px;
  color: #E8EED8;
  line-height: 30px;
  padding: 5px;
}
#main {
	width: 80%;
	margin: 10px auto;
	border: 1px solid #E5E5E5;
	padding: 4em 1.6em;
	background-color: #FFFFFF;
}
#navigation {
  float: right;
}
#navigation li {
  display: inline;
  padding: 8px;
}
#navigation a,
#navigation a:visited {
  color: #E1E1E1;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
#navigation a:hover {
 text-decoration: none;
 color: #669933; 
}
.action-items {
  text-align: right;
  margin: 10px 20px;
}

/**
 * Forums Level Declarations
 *---------------------------*/
 .forum th {
   text-transform: uppercase;
   font-size: 0.85em;
   border:0.1em solid #DFDFDF;
   background-color: #FCFCFC;
   padding: 0.9em;
 }
 .forum th.left {
   border-left: none;
 }
 .forum th.right {
   border-right: none;
 }
 .forum td {
   padding: 1.2em 1.1em 1.3em;
   border-bottom: 0.1em dashed #CDCDCD;
 }
 .forum-title {
   font-size: 1.4em;
 }
 .forum p {
   margin: 0.5em 0 0;
   color: #A1A0A0;
 }
 .forum .post-count {
   background: url("/images/icons/comments.png") no-repeat scroll 0 1.2em;
   padding: 0 0 0 4em;
 }
 
/**
 * Topics Level Declarations
 *---------------------------*/
 .topic-title {
   font-size: 1.2em;
 }
 p.topic-description {
   padding-left: 8px;
   font-size: 0.95em;
   font-style: italic;
   margin: 0;
 }
 
/**
 * Posts Level Declarations
 *---------------------------*/

.odd {
  background-color: #F1F1F1;
}

.even {
  background-color: #FAFAFA;
}
.post-header {
  margin-right: 280px;
  padding: 5px;
}
.post-header h4 {
  font-size: 1.2em;
}

.post-header span {
  font-size: 0.8em;
  margin-left: 10px;
}

.post-body {
  padding: 10px;
  margin-right: 280px;
}

.post-body .content {
}

.post-profile {
  font-size: 11px;
  float: right;
  width: 250px;
  padding: 10px;
  border-left: 1px solid #ccc;
}

/**
 *  Ruby Syntax Highlighting
 ****************************/
.CodeRay {
  background-color: #232323;
  border: 1px solid #333;
  font: 1em Monaco, "Courier New", monospace;
  line-height: 1.4em;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  width: 500px;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay td.line_numbers {
  width: 20px;
  color: #CCC;
}
td.line_numbers pre {
  text-align: center;
}

.CodeRay .an { color: #E7BE69 }                      /* html attribute */
.CodeRay .c  { color: #BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color: #509E4F }                      /* escaped character */
.CodeRay .cl { color: #FFF }                         /* class */
.CodeRay .co { color: #FFF }                         /* constant */
.CodeRay .fl { color: #A4C260 }                      /* float */
.CodeRay .fu { color: #FFC56D }                      /* function */
.CodeRay .gv { color: #D0CFFE }                      /* global variable */
.CodeRay .i  { color: #A4C260 }                      /* integer */
.CodeRay .il { background: #151515 }                 /* inline code */
.CodeRay .iv { color: #D0CFFE }                      /* instance variable */
.CodeRay .pp { color: #E7BE69 }                      /* doctype */
.CodeRay .r  { color: #CB7832 }                      /* keyword */
.CodeRay .rx { color: #A4C260 }                      /* regex */
.CodeRay .s  { color: #A4C260 }                      /* string */
.CodeRay .sy { color: #6C9CBD }                      /* symbol */
.CodeRay .ta { color: #E7BE69 }                      /* html tag */
.CodeRay .pc { color: #6C9CBD }                      /* boolean */
