#container
  #header-container
    %img{ :src => "/images/merb.jpg" }
    /
      <h1>Mongrel + Erb</h1>
    %h2
      pocket rocket web framework
    %hr
  #left-container
    %h3
      Exception:
    %p
      = request.exceptions.first.message
  #main-container
    %h3
      Why am I seeing this page?
    %p
      Merb couldn't find an appropriate content_type to return,
      based on what you said was available via provides() and
      what the client requested.
    %h3
      How to add a mime-type
    %pre
      %code
        Merb.add_mime_type :pdf, :to_pdf, %w[application/pdf], &quot;Content-Encoding&quot; =&gt; &quot;gzip&quot;
    %h3
      What this means is:
    %ul
      %li
        Add a mime-type for :pdf
      %li
        Register the method for converting objects to PDF as
        %code
          \#to_pdf
        \.
      %li
        Register the incoming mime-type "Accept" header as
        %code
          application/pdf
        \.
      %li
        Specify a new header for PDF types so it will set
        %code
          Content-Encoding
        to gzip.
    %h3
      You can then do:
    %pre
      %code
        class Foo &lt; Application
        provides :pdf
        end
    %h3
      Where can I find help?
    %p
      If you have any questions or if you can't figure something out, please take a
      look at our
      %a{ :href => "http://merbivore.com/" }
        project page
      ,
      feel free to come chat at irc.freenode.net, channel #merb,
      or post to
      %a{ :href => "http://groups.google.com/group/merb" }
        merb mailing list
      on Google Groups.
    %h3
      What if I've found a bug?
    %p
      If you want to file a bug or make your own contribution to Merb,
      feel free to register and create a ticket at our
      %a{ :href => "http://merb.lighthouseapp.com/" }
        project development page
      on Lighthouse.
    %h3
      How do I edit this page?
    %p
      You can change what people see when this happens by editing
      %tt
        app/views/exceptions/not_acceptable.html.erb
      \.
  #footer-container
    %hr
    .left
    .right
      \&copy; 2008 the merb dev team
    %p
      \&nbsp;
